<header>
  <nav>
    <ul>
      <li><a href="/">PAYE Calculator</a></li>
      <li><a href="/nssf-calculator">NSSF Calculator</a></li>
      <li><a href="/shif-calculator">SHIF Calculator</a></li>
      <li>
        <a href="/housing-levy-calculator">Housing Levy Calculator</a>
      </li>
      <li>
        <a href="/docs">API Documentation</a>
      </li>
    </ul>
  </nav>
</header>
